body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  animation: fadeIn 1.5s ease-in-out;
}

.home-page {
  text-align: center;
  padding: 20px;
  animation: slideInFromTop 1s ease-in-out;
}

.logo {
  max-width: 280px;
  margin: 5px auto;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-top: 10px;
  font-weight: bold;
}

.intro {
  font-size: 1.2rem;
  color: #555;
  text-align: justify;
  margin: 20px auto;
  max-width: 800px;
  line-height: 1.6;
}

/* Card Container Styling */
.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

/* Individual Card Styling */
.card {
  text-decoration: none;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s ease;
}

.card h3 {
  color: #007bff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  color: #555;
  font-size: 1rem;
  line-height: 1.4;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card:active {
  transform: translateY(-5px);
}
