body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e7f3ff;
  }
  
  h2 {
    font-size: 2rem;
    color: #222;
    text-align: center;
    margin-top: 50px;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  